USE [master]
GO
/****** Object:  Database [APIBrazsToursTipsDB]    Script Date: 25/05/2025 21:19:29 ******/
CREATE DATABASE [APIBrazsToursTipsDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'APIBrazsToursTipsDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\APIBrazsToursTipsDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'APIBrazsToursTipsDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\APIBrazsToursTipsDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [APIBrazsToursTipsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [APIBrazsToursTipsDB]
GO
/****** Object:  Table [dbo].[TourTip]    Script Date: 25/05/2025 21:19:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourTip](
	[TourTipId] [int] IDENTITY(1,1) NOT NULL,
	[TourName] [nvarchar](100) NOT NULL,
	[TourTip] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TourTipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TourTip] ON 

INSERT [dbo].[TourTip] ([TourTipId], [TourName], [TourTip]) VALUES (1, N'Wicklow Mountains', N'Wear layers—the weather changes quickly in the hills.')
INSERT [dbo].[TourTip] ([TourTipId], [TourName], [TourTip]) VALUES (2, N'Cliffs of Moher', N'Arrive early or late to avoid the biggest crowds.')
INSERT [dbo].[TourTip] ([TourTipId], [TourName], [TourTip]) VALUES (3, N'Giant''s Causeway', N'Non-slip shoes help on the basalt columns.')
SET IDENTITY_INSERT [dbo].[TourTip] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TourTip__760BA964883DBDC0]    Script Date: 25/05/2025 21:19:30 ******/
ALTER TABLE [dbo].[TourTip] ADD UNIQUE NONCLUSTERED 
(
	[TourName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
